*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
h1 {
    font-family: 'Chelsea Market', cursive;
}
.navbar {
    height: 6em;
    margin-top: 20px;
}
.navbar a {
    color: white;
    text-decoration: none;
}
.navlinks{
    display: inline-block;
    height: 4em;
    width: 10em;
    border-radius: 1em;
    vertical-align: middle;
    padding: .5em;
    margin-left: 6em;
    margin-right: 6em;
}
.plan {
    background-color: #FF764E;
}
.learn {
    background-color: #5ED3EB;
}
.get-involved {
    background-color: #FFCD69;
}
.banner{
    display: inline-block;
    
}
.banner img {
    border-radius: 50%;
    height: 20em;
    margin: 1em;
    margin-right: 5em;
    float: left;
}
.title {
    margin: 5em;
}
.title h1{
    font-size: 2.5em;
}
.title div {
    margin: 2em;
    
}
.info {
    color: white;
    background-color: #DDB9A3;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
}
.container {
    margin: auto;
    width: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.container img{
    height: 150px;
    width: 150px;

}
footer {
    background-color: #F9E7DC;
    width: 100%;
    height: 26em;
    margin: 0;
}
footer img {
    object-fit: cover;
    height: 18em;
    width: 100%;
}